@media only screen and (min-width: 1140px){

.fixed-width{width:1140px;}

.container .one-column.column{width:1120px;}

.container .eight.columns{width:360px}

.container .sixteen.columns{width:740px;}

.container .one-half.column{width:549px;
/*width:550px;*/}


.container .one-third.column{width:360px;}
.container .two-thirds.column{width:740px;}

.container .one-fourth.column{width:265px;}
.container .two-fourths.column{width:550px;}
.container .three-fourths.column{width:835px;}

.container .one-fifth.column{width:208px;}
.container .two-fifths.column{width:436px;}
.container .three-fifths.column{width:664px;}
.container .four-fifths.column{width:892px;}

.container .twentyfour.columns{width:1120px;}

}


.book-cover img{position:absolute; top:-75px;width:345px}

.testimonial-image-style-6{margin:20px auto;}

body, h1, h2, h3, h4, h5, h6, p, li, ul{
font-family: 'Roboto', sans-serif;
-webkit-font-smoothing:auto;
    text-rendering: optimizelegibility;
}


@media only screen and (max-width: 959px) {
.book-cover img{
position:initial;
}
}

@media only screen and (max-width: 767px) {

.image-caption{
float:none !important;
 margin:0px auto;}

.image-text-style-2{
text-align:center;
}

.image-text-align-left p{
text-align:center;
}

.image-text-align-left h3{
text-align:center;}

.image-text-style-2 img{
margin-bottom:20px;
}

.pre-order h2, .pre-order p{
text-align:center !important;
}
}

@media only screen and (max-width: 479px) {
body, p{font-size:14px !important;}
h2{font-size:35px !important;line-height:40px !important;}
h3{font-size:20px !important;line-height:25px !important;}
.feature-block h2{font-size: 15px !important;line-height: 20px !important;}
.image-text-align-left p{line-height:22px !important;}

}
.feature-block-style-icon.feature-block .feature-block-icon{
max-width:45px;
}


.image-text-style-2 img{float:right;
width:200px;
-webkit-box-shadow: 2px 2px 10px #000;
-moz-box-shadow: 2px 2px 10px #000;
-o-box-shadow: 2px 2px 10px #000;
box-shadow: 2px 2px 10px #000;
-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.4);
-moz-box-shadow: 2px 2px 10px rgba(0,0,0,.4);
-o-box-shadow: 2px 2px 10px rgba(0,0,0,.4);
box-shadow: 2px 2px 10px rgba(0,0,0,.4);
border: 5px solid #fff;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius:50%;
}

.image-text-style-2 .image-text-style-img-container{width:29%;}

.image-text-align-left h3{font-weight:300;} 

.image-text-align-left p{font-size:16px;line-height:26px;}

@media only screen and (min-width: 960px) and (max-width:1139px){
.container .one-half.column{width:459px}
}

/* CUSTOM CODE REQUIRED FOR THIS TEMPLATE DO NOT REMOVE */

.feature-block h2{letter-spacing:0px;}

.banner { 
    padding: 10px 0 10px;
border-bottom: 1px solid #eee;
}

.banner .op-logo img {
    display: inline-block;
    max-width: 200px;
    padding: 6px 0 0;
    vertical-align: middle;
}

.banner h1.site-title {
    display: none;
}

.banner h2.site-description {
    display: none;
}


.css-button.style-1 .text, .op-text-block p {
    -webkit-font-smoothing: auto; 
}

::selection {
    background-color: #4b5663;
    color: #fcfcfc;
}

::-moz-selection {
    background-color: #4b5663;
    color: #fcfcfc;
}

.open-sans-600 h2 {
    font-weight: 600;
}

.news-bar-style-1 p {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-left-radius: 2px;
    -moz-border-top-right-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #a5aab1;
}

.news-bar-style-1 strong {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 400;
}

#le_body_row_2_col_2 {
    border: 1px solid #d2d4d8;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pad {
    padding-left: 20px;
    padding-right: 20px;
}

ul, ol {
    margin-bottom: 0;
}

.optin-box-6 .text-box {
    background-color: #fdfdfd;
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #d2d4d8;
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
    box-sizing: content-box;
    display: block;
    margin: 0 auto 15px;
    padding: 15px;
}

.optin-box-6 input[type="text"], .optin-box-6 input[type="email"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #626b77;
    width: 100%;
}

.optin-box-6 .privacy {
    color: #a5aab1;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
}
    
.arrowup {
    border-bottom: 20px solid rgba(0, 0, 0, 0.05);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    left: 30px;
    position: relative;
    width: 0;
}

.featbox .feature-box-22 {
    border: none;
}

.featbox .feature-box-22 .feature-box-content {
    background-color: rgba(0, 0, 0, 0.05);
}

.footer .fixed-width {
    margin-bottom: 20px;
    padding: 25px 0 20px;
}

.op-promote {
    display: none;
}

@media only screen and (max-width: 767px) {

.css-button.style-1 .text{font-size:20px !important;}

    .banner {
        padding: 10px 0 13px;
    }

    .banner .op-logo img {
        padding: 0;
    }

    .row1 {
        padding-top: 10px !important;
    }

    .news-bar-style-1 strong:after {
        display: none !important;
    }

    .news-bar-style-1 span {
        padding: 1em !important;
        line-height: 1em !important;
    }

    .footer .fixed-width {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .banner {
        padding: 10px 0;
    }

    .banner .op-logo img {
        padding: 0;
    }

    #le_body_row_2_col_2 {
        width: 362px !important;
    }

    .row2 {
        padding-bottom: 20px !important;
    }

    .news-bar-style-1 {
        text-align: center !important;
    }

    .news-bar-style-1 strong:after {
        display: none !important;
    }

    .news-bar-style-1 span {
        display: block !important;
        padding: 1em !important;
        line-height: 1em !important;
    }

    .news-bar-style-1 strong {
        display: block !important;
        margin: 0 !important;
    }

    .news-bar-style-1 p {
        padding: 0 !important;
        white-space: normal !important;
    }

    .footer .fixed-width {
        margin-bottom: 0;
    }

}

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

#botao1 .text {font-size:32px;color:#ffffff;font-weight:normal;}#botao1 {padding:24px 99px;border-width:0px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#F0651B;box-shadow:0px 3px 0px 0px rgba(211,82,13,1);}#botao1 .gradient {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}#botao1 .shine {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}#botao1 .active {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}#botao1 .hover {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}